<style type="text/css">
    nav{
        width: 100%;
        background-color: #f1f1f1;
        border-top:2vh solid #056a7cb0;
    }
    .masterhead{
        position: relative;
        top: 10hv;
    }
</style>
<section class="page-section mt-5" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">BOOK STORE</h4>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
            </div>
            <div class="col-md-6 m-auto">
              <div class="card card-body text-center">
                <h1><i class="fa fa-film fa-3x text-primary"></i></h1>
                <p>Create an account or login</p>
                <a href="/register" class="btn btn-primary btn-block mb-2"
                  >Register</a
                >
                <a href="/login" class="btn btn-secondary btn-block">Login</a>
              </div>
            </div>
        </div>
    </div>
</section>